<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1> Retro Barcode Generator </h1>
</div>
<div class="row">
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_0}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_1}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_2}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_3}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_4}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_5}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_6}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_7}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_8}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_9}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_10}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_11}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_12}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_13}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_14}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_15}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_16}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_17}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_18}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_19}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_20}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_21}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_22}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_23}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_24}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_25}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_26}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_27}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_28}">&nbsp;&nbsp;&nbsp;</div>
    <div class="ColorBlock" [ngStyle]="{'background-color': Color_29}">&nbsp;&nbsp;&nbsp;</div>
</div>